<nav>
  <div id="nav-left-handside" class="nav-group col-3">
    <div *ngIf="isLoggedIn; then loggedInLeft else annonymousLeft">
    </div>    
  </div>
  <div id="nav-center" class="nav-group col-6">
    <img src="../../assets/images/Jack_of_spades_head-removebg-preview.png" (click)="showHome()"/>
  </div>
  <div id="nav-right-handside" class="nav-group col-3">
    <div *ngIf="isLoggedIn; then loggedInRight else annonymousRight">
    </div>
  </div>

  <ng-template #annonymousLeft>
    
  </ng-template>
  <ng-template #loggedInLeft>
    <div class="btn btn-info" (click)="createGameTable()">Create game</div>
  </ng-template>

  <ng-template #annonymousRight>
    <div class="btn btn-info" (click)="showRegister()">Register</div>
    <div class="btn btn-light" (click)="showLogin()">Log in</div>
  </ng-template>
  <ng-template #loggedInRight>
    <app-my-profile></app-my-profile>
  </ng-template>
</nav>
