<div *ngIf="isLoggedIn; then loggedInHome else annonymousHome"></div>

<ng-template #annonymousHome>
  <div id="home-header">
    WELCOME to Jack of Spades
  </div>
</ng-template>
<ng-template #loggedInHome>
  <p-table [value]="games">
    <ng-template pTemplate="header">
      <tr>
        <th>GameId</th>
        <th>Prize pool</th>
        <th>Connected Players</th>
        <th>
          <div class="btn btn-outline-info" (click)="obtainGames()">Refresh</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-game>
      <tr>
        <td>{{game.id}}</td>
        <td>{{game.prizePool}}</td>
        <td>{{game.connectedPlayers}}</td>
        <td>
          <div class="btn btn-success" (click)="openGameTable(game)">Join game</div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
