<div id="form-container">
  <div id="form-background">
    <h1 id="form-main-header">
      JACK OF SPADES
    </h1>
    <h2 id="form-secondary-header">
      Play belot and earn assets
    </h2>
    <form (ngSubmit)="register()">
      <div id="username">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="Username" name="username" required>
      </div>
      <br>
      <div id="email">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="Email" name="email" required>
      </div>
      <br>
      <div id="password">
        <label>Password</label>
        <input type="password" [(ngModel)]="Password" name="password" minlength="6" required>
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
